@{
    ViewBag.Title = "Intranet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#/historialClase">Diseñar Clase</a></li>
                <li><a href="#/historialClase">Historial de Clase</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</header>

@RenderBody()
