@{
    ViewBag.Title = "Intranet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<header>
@*    <div class="widewrapper masthead">
        <div class="container">
            <a href="index.html" id="logo">
                Iluminadas
            </a>
        </div>
    </div>
*@
    <div class="widewrapper subheader">
        <div class="container">
            <nav class="tales-nav">
                <div class="collapse navbar-collapse">
                    <ul class="nav nav-pills navbar-nav">
                        <li><a href="/Clase/Crear">Diseñar Clase</a></li>
                        <li><a href="/Clase/Buscar">Buscar Clase</a></li>
                    </ul>
                </div>
            </nav> 
        </div>
    </div>
</header>

@RenderBody()

@section Scripts{

@RenderSection("Scripts", false)

}



<footer>
    <div class="widewrapper copyright">
        <div class="container">
            <!--Note: Feel free to remove or change this link as you please. A link to HackerThemes is not required by any means-->
            Designed by <a href="http://ecruzado.com" rel="nofollow">Ecruzado</a>
        </div>
    </div>
</footer>