@{
    ViewBag.Title = "Intranet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img alt="Brand" src="~/Content/Images/Logo.png">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/Clase/Crear">Diseñar Clase</a></li>
                    <li><a href="/Clase/Buscar">Buscar Clase</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">PLATAFORMA DE SESIONES DE CLASE ILUMINADAS</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Usuario <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/Account/LogOut">Cerrar sesion</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    @*<div class="widewrapper subheader">
        <div class="container">
            <div class="navbar-header">
                <a href="#" class="navbar-brand">Bootstrap</a>
                <img src="~/Content/Images/Logo.png" style="display: inline-block;">
            </div>
            <nav class="tales-nav">
                <div class="collapse navbar-collapse">
                    <ul class="nav nav-pills navbar-nav">
                        <li><a href="/Clase/Crear">Diseñar Clase</a></li>
                        <li><a href="/Clase/Buscar">Buscar Clase</a></li>
                    </ul>
                </div>
            </nav> 
        </div>
    </div>*@
</header>

@RenderBody()

@section Scripts{

@RenderSection("Scripts", false)

}



<footer>
    <div class="widewrapper copyright">
        <div class="container">
            <!--Note: Feel free to remove or change this link as you please. A link to HackerThemes is not required by any means-->
            Designed by <a href="http://ecruzado.com" rel="nofollow">Ecruzado</a>
        </div>
    </div>
</footer>